# Must have the php module "mod_rewrite" uncommented in "php.ini",
# and "AllowOverride All" configurated in "httpd.conf".

#Fix Rewrite
Options -Multiviews
# Mod Rewrite
Options +FollowSymLinks
RewriteEngine On
# RewriteBase path must be the path starting from "localhost".
# In this case, the complete path is: "http://localhost/dwes/ejercicios-1ra-eva-ncocana/entregables_moodle/T04P02_login_system/login",
# but the file .htaccess is inside the "./T04P02_login_system/" directory.
RewriteBase /dwes/ejercicios-1ra-eva-ncocana/entregables_moodle/T04P02_login_system/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# used for php pages such as "yoursite.com/login.php" will become "yoursite.com/login/"
RewriteRule ^([a-z_]+)\/?$ $1.php [NC]
